[submodule "vendor/glm"]
	path = vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = git@github.com:glfw/glfw.git
[submodule "vendor/glad"]
	path = vendor/glad
	url = git@github.com:Dav1dde/glad.git
	branch = c
[submodule "vendor/SFML"]
	path = vendor/SFML
	url = git@github.com:SFML/SFML.git
[submodule "vendor/glew"]
	path = vendor/glew
	url = git@github.com:Perlmint/glew-cmake.git
